<h1>REGISTRAR</h1>
    <br />
    <form
      class='form'
      action='/register'
      method='post'
    >

      <div>
        <input
          id='username'
          name='username'
          placeholder='mail'
          type='text'
          required
        />
      </div>

      <div>
        <input
          id='password'
          name='password'
          placeholder='password'
          type='text'
          required
        />
      </div>

      <div>
        <input
          id='nombre'
          name='nombre'
          placeholder='nombre'
          type='text'
          required
        />
      </div>

      <div>
        <input
          id='edad'
          name='edad'
          placeholder='edad'
          type='number'
          required
        />
      </div>

      <div>
        <input
          id='direccion'
          name='direccion'
          placeholder='direccion'
          type='text'
          required
        />
      </div>

      <div>
        <input
          id='telefono'
          name='telefono'
          placeholder='telefono'
          type='number'
          required
        />
      </div>

      <div>
        <input
          id='avatar'
          name='avatar'
          placeholder='avatar'
          type='text'
          required
        />
      </div>


      <div>
        <input type='submit' value='Register' />
      </div>
    </form>

    <hr />

    <div>
      <button  onclick="location.href = '/login'">Ir
        a Login</button>
    </div>

 